<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="qualosabor.com.br.qualosabor">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="Qual é o Sabor?"
        android:roundIcon="@mipmap/ic_launcher_round_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="qualsabor.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="qualosabor.com.br.qualosabor" />

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroEmpresa"
            android:parentActivityName=".LoginEmpresa" />
        <activity android:name=".ListarEmpresas" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginEmpresa"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LoginUsuario" />
        <activity android:name=".NomeUsuario" />
        <activity android:name=".EscolherSabores" />
        <activity android:name=".ConfirmacaoPedido" />
        <activity android:name=".MenuEmpresa" />
        <activity android:name=".CadastrarSabores" />
        <activity android:name=".ListarSabores" />
        <activity
            android:name=".ConfirmaCadastro"
            android:label="@string/title_activity_confirma_cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CadastroUsuario"></activity>
    </application>

</manifest>