<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="qualosabor.com.br.qualosabor">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="qualsabor.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="qualosabor.com.br.qualosabor" />

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
        android:name=".controller.CadastroEmpresa"
        android:label="Cadastrar Empresa" />

        <activity android:name=".MainActivity" />
        <activity
            android:name=".controller.LoginEmpresa"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".controller.LoginUsuario"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".controller.NomeUsuario"
            android:label="Nome"
            android:parentActivityName=".controller.LoginUsuario"/>
        <activity
            android:name=".controller.EscolherSabores"
            android:label="Escolher Sabores" />
        <activity
            android:name=".controller.ConfirmacaoPedido"
            android:label="" />
        <!--
       <activity android:name=".controller.MenuEmpresa" /> ->>
       <!- <activity android:name=".CadastrarSabores" />
        -->
        <activity
            android:name=".controller.ListarSabores"
            android:label="Lista de Sabores"
            android:parentActivityName=".controller.MenuEmpresa"/>
        <activity
            android:name=".controller.ConfirmaCadastro"
            android:label="@string/title_activity_confirma_cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.CadastroUsuario"
            android:label="Cadastrar Usuário" />
        <activity
            android:name=".controller.CadastroSabor"
            android:label="Cadastrar Sabor"
            android:parentActivityName=".controller.ListarSabores"/>
        <activity
            android:name=".controller.ListarPedidos"
            android:label="Listar Pedidos" />
        <activity
            android:name=".controller.ListaSaboresMaisPedidos"
            android:label="Sabores Mais Pedidos"
            android:parentActivityName=".controller.MenuEmpresa"/>
        <activity
            android:name=".controller.MenuEmpresa"
            android:label="@string/title_activity_menu_empresa"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DuplicateActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.QRCode"
            android:label="Gerar QR Code"
            android:parentActivityName=".controller.MenuEmpresa"/>

        <activity android:name=".controller.ConfiguracoesEmpresa"
            android:label="Configurações"
            android:parentActivityName=".controller.MenuEmpresa"></activity>
    </application>

</manifest>