<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="qualosabor.com.br.qualosabor">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="Qual é o Sabor?"
        android:roundIcon="@mipmap/ic_launcher_round_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="qualsabor.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="qualosabor.com.br.qualosabor" />

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.CadastroEmpresa"
            android:parentActivityName=".controller.LoginEmpresa" />
        <activity android:name=".controller.ListarEmpresas" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".controller.LoginEmpresa"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".controller.LoginUsuario" />
        <activity android:name=".controller.NomeUsuario" />
        <activity android:name=".controller.EscolherSabores" />
        <activity android:name=".controller.ConfirmacaoPedido" />
        <activity android:name=".controller.MenuEmpresa" />
       <!-- <activity android:name=".controller.MenuEmpresa" /> ->>
       <!- <activity android:name=".CadastrarSabores" /> -->
        <activity android:name=".controller.ListarSabores" />
        <activity
            android:name=".controller.ConfirmaCadastro"
            android:label="@string/title_activity_confirma_cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controller.CadastroUsuario" />
        <activity android:name=".controller.CadastroSabor" />
        <activity
            android:name=".controller.MenuEmpresa"
            android:label="@string/title_activity_menu_empresa"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DuplicateActivity"></activity>
    </application>

</manifest>